<?xml version="1.0"?>
<library path="lib/librunner_bt_nodes">
  <class name="RepeatUntilFailure"
         type="RepeatUntilFailure"
         base_class_type="BT::TreeNode"/>
  <class name="CaptureImageNode"
         type="CaptureImageNode"
         base_class_type="BT::TreeNode"/>
  <class name="MoveToGoalNode"
         type="MoveToGoalNode"
         base_class_type="BT::TreeNode"/>
  <class name="ReturnToBaseNode"
         type="ReturnToBaseNode"
         base_class_type="BT::TreeNode"/>
  <class name="SaveResultNode"
         type="SaveResultNode"
         base_class_type="BT::TreeNode"/>
  <class name="SendMetaDataNode"
         type="SendMetaDataNode"
         base_class_type="BT::TreeNode"/>
  <class name="SetAngleNode"
         type="SetAngleNode"
         base_class_type="BT::TreeNode"/>
  <class name="SetFailureReasonNode"
         type="SetFailureReasonNode"
         base_class_type="BT::TreeNode"/>
  <class name="WaitForResultNode"
         type="WaitForResultNode"
         base_class_type="BT::TreeNode"/>
  <class name="WaitForStartNode"
         type="WaitForStartNode"
         base_class_type="BT::TreeNode"/>
</library>
